* {
    margin: 0 auto;
    height: 54px;
}

header {
    background-color: rgb(27, 27, 146);
    padding-left: 20px;
    color: aliceblue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 1;
}

.headertitle {
    position: relative;
    font-family: 'Londrina Shadow', cursive;
    margin-left: 10px;
    font-size: 40px;
    color: #fff;

}

.headertitle:hover::after {
    clip: rect(0px, 300px, 100px, 0);
}

.headertitle::after {
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 48px;
    color: #ffd770;
    clip: rect(0, 0, 100px, 0);
    transition: clip 0.5s linear;
}

.hedertitlelink {
    text-decoration: none;
}

.hedertitlelink:hover {
    text-decoration: none;
}

header .gnav .menu {
    display: flex;
    margin-top: 13px;
    margin-left: 700px;
}

header .gnav .menu li {
    list-style: none;

}

header .gnav .menu li+li {
    margin-left: 40px;

}

.menutitle {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Londrina Shadow', cursive;
    font-size: 25px;
}


.menutitle:hover:after {
    opacity: 0.7;
}

.top{
    position: relative;
}
.top::after{
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 30px;
    color: rgb(1, 255, 1);
    clip: rect(0, 0, 100px, 0);
    transition: clip 3s linear;
}

.top:hover::after {
    clip: rect(0px, 300px, 100px, 0);
}

.member{
    position: relative;
}
.member::after{
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 30px;
    color: #bfff00;
    clip: rect(0, 0, 100px, 0);
    transition: clip 1s linear;
}

.member:hover::after {
    clip: rect(0px, 300px, 100px, 0);
}

.Activity{
    position: relative;
}
.Activity::after{
    content: attr(data-txt);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 30px;
    color: #ff0000;
    clip: rect(0, 0, 100px, 0);
    transition: clip 1s linear;
}

.Activity:hover::after {
    clip: rect(0px, 300px, 100px, 0);
}


.menutitle:active {
    opacity: 1;
}

main {
    position: relative;
    height: 1000px;
    width: 100%;
    padding-top: 54px;
}

.maintitle {
    position: absolute;
    top: 20%;
    left: 50%;
    color: rgb(70, 76, 183);
    font-size: 170px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Creepster', cursive;
}

.subtitle {
    position: absolute;
    top: 40%;
    left: 50%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Cherry", cursive;
    font-weight: bold;
}

.Cinfo {
    font-family: "Hannari";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 20px;
}

.Cinfo::before,
.Cinfo::after {
    border-top: 1px solid black;
    content: "";
    width: 20px;
}

.Cinfo::before {
    margin-right: 15px;
}

.Cinfo::after {
    margin-left: 15px;
}


.backimg {
    width: 100%;
    height: 750px;
    opacity: 0.95;
}

div.newtopic {
    margin-top: 60px;
    width: 300px;
    height: 200px;
    overflow: scroll;
    font-family: "Hannari";
    overflow-x: hidden;
}

.topic {
    position: absolute;
    top: 62%;
    left: 38%;
    font-family: "Hannari";
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 14%;

}

.topicinfo {
    margin-left: 20px;
}

.date {
    border-top: 2px solid gray;
    padding-top: 10px;
}

.mainpage {
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width:1300px) {
    .backimg {
        height: 520px;
    }

    .topic {
        margin-top: 30px;
    }
}